.header {
  position: fixed;
  left: 50%;
  top: 12px;
  padding: 8px 12px;
  gap: 8px;
  transform: translateX(-50%);
  color: white;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  background: var(--bg-color-fore);
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  align-items: center;
  font-family: sans-serif;

  .logoWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }

  .title {
    font-size: 16px;
    font-weight: bold;
  }

  .subtitle {
    color: rgba(white, 0.75);
    font-style: italic;
  }

  .content {
    display: flex;
    align-items: center;
    gap: 8px;

    .button,
    .button > svg {
      width: 16px;
      height: 16px;
    }

    .button {
      color: white;
      cursor: pointer;
      &:hover {
        color: rgb(150, 186, 222);
      }
    }
  }
}

.canvasContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.canvas {
  transform: scale(calc(1 / var(--dpr)));
  transform-origin: top left;
  touch-action: none;
}

.bgSelect {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}
.bgSelectItem {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  border: 1px solid var(--leva-colors-elevation3);
  border-radius: var(--leva-radii-sm);
  background-size: cover;

  &Active {
    outline: 2px solid var(--leva-colors-accent2);
  }
}

.bgSelectItemVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

:global(#root > div[class^='leva-']) {
  background-color: rgba(0, 11, 36, 0.6);
  & > div:last-child {
    background-color: rgba(0, 9, 30, 0.698);
  }
}
:global(div[data-leva-folder='1']) {
  & > div:first-child {
    & > svg + div {
      display: none;
    }

    &::after {
      content: var(--i18n-name);
      display: inline;
    }
  }

  & > div:last-child {
    background-color: transparent;
  }
}

// ctrlEl.dataset.i18nName =
//     lang[`editor.${titleStr}` as keyof Omit<typeof lang, '_settings'>] ?? titleStr;
